name: lint-pr-title
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
jobs:
  lint:
    runs-on: ubuntu-latest
    if: "!startsWith(github.head_ref, 'release-please--branches--main--components--')"
    steps:
      - uses: dreampulse/action-lint-pull-request-title@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
